/*normalize*/
li {
  list-style:none;
}
a{
  text-decoration:none;
  color:inherit;
}
/*normalize*/

header{
  position:relative;
  height:150px;
  background-color: white;
}

.top a img {
  left:38%;
  top:8%;
  margin: 0 auto;
  position: absolute;
}

.top a{
display: inline-block;
margin-top: 70%;
}

.top{
  height:200px;
}
.small_menu {
  display:block;
  float:right;
  margin:10px 13px;
  padding-right:20px;
}

.small_menu > a {
  padding : 10px;
  top:50%;
}

.menu_bar {
  display:inline-block;
}

.menu {
  clear:both;
  background-color:#333334;
  height:50px;
  padding:10px;
  width:100%;
  top:100%;
  position:absolute;
}

.menu span{
  display:inline-block;
  margin-left : 50px;
  padding-top : -10px;
}

.menu a{
  font-size:25px;
  color:#d4d4d4;
  font-family: 'Open Sans', sans-serif;
  margin-left:20px;
}

.menu a:hover {
  color:white;
}

.search {
  float:right;
  margin:7px 10px;
}


.sch_bar {
  border:0;
  width : 300px;
  height : 25px;
  margin-top:5px;
  font-size:15px;
}

.sch_btn {
  border:2px solid white;
  width: 60px;
  height: 27px;
  background-color:#333334;
  color : white;
}

.sch_bar, .sch_btn{
  margin-top: -10px;
}

/*header*/


#slideshow {
  margin: 0px auto;
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0px;
}

#slideshow img {
  width:100%;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
/*image slide end*/

.main-bann {
  clear:both;
  width:1200px;
  height:auto;
  margin:40px auto;
  border:1px solid #dcdcdc;
  display:block;
  text-align:center;
}

.main-bann .main-title{
  font-size:30px;
  margin-bottom:2px;
}

.main-bann > span{
  color:gray;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.main-bann > .deal_01{
  clear:both;
  border: 1px solid #dcdcdc;
  width:22%;
  height:400px;
  display:inline-block;
  margin:40px 10px;
  padding:0px;
}

.deal_01 > .deal-img {
  width:90%;
  height:250px;
  margin:20px auto;
}

.deal-img img{
  border:1px solid #dcdcdc;
  margin:10px auto;
  width:90%;
  height:auto;
}

.item-title .item-name{
  margin:0px auto;
  width:90%;
}

.item-title .price{
  margin:15px;
  font-size:24px;
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color:#ac0000;
}

.middle-ad{
  margin: 30px auto;
  width:100%;
  height:80px;
  background-color:#333334;
  position:relative;
}

.middle-ad img{
  margin-left:22%;
  position:absolute;
  width:1000px;
  height:auto;
}

.main-title-02 {
  color:#4179d6;
  margin-bottom:4px;
}

.footer{
  border-top:2px solid #dcdcdc;
  width:100%;
  height:auto;
  margin:0px auto;
  background-color : #f3f1f2;
  position: absolute;
}

.info li {
  margin: 5px auto;
  font-size:14px;
  color:gray;
  display: block;
}

.cs{
  display:inline-block;
}

.cs-title{
  color:gray;
}

.cs-callno{
  font-size:30px;
}


.info {
  display : inline-block;
  margin-left: 10%;
}


.footer-logo{
  display:inline-block;
  margin-right:10%;
  float: right;
  position: relative;
}

.footer-logo img{
  margin-top: 10px;
  margin-right: 10%
  float: right;
}

.cs{
  display:inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 10%;
}

.cs-title{
  color:gray;
}

.cs-callno{
  font-size:30px;
}
